<div class="text-center" style="background-color: rgba(13, 32, 84, 1); color: #fff; padding: 1.5rem;">
  <p class="mb-1">Empowering Innovation, One Line of Code at a Time.</p>
  <p class="mb-0">jeff-gitemi <a href="https://wa.me/+254706100265" class="text-white">whatsapp</a></p>
</div>
