<div class="text-center bg-primary text-white p-3">
    <p class="mb-1">Empowering Innovation, One Line of Code at a Time.</p>
    <p class="mb-0">jeff-gitemi <a href="https://wa.me/+254706100265" class="text-white">whatsapp</a></p>
  </div>
  