<nav class="d-flex justify-content-center">
    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-3 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
        <li class="nav-item" role="presentation">
            <a class="nav-link active rounded-3" href="/" id="home-tab2" role="tab" aria-selected="true">Gitemijeff jevs</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-3" href="/webdesign" id="profile-tab2" role="tab" aria-selected="false">skills</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-3" href="/webhosting" id="contact-tab2" role="tab" aria-selected="false">technicall skills </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-3" href="/e-marketing" id="contact-tab2" role="tab" aria-selected="false">Technoverse</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-3" href="/contact" id="contact-tab2" role="tab" aria-selected="false">contact</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-3" href="/certification" id="contact-tab2" role="tab" aria-selected="false">trusted clients</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-3" href="/login" id="contact-tab2" role="tab" aria-selected="false">support the developer</a>
        </li>
    </ul>
</nav>
