<nav class="d-flex justify-content-center">
    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-5 text-white active" href="/" id="home-tab2" role="tab" aria-selected="true">Gitemijeff Devs</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-8 text-white" href="/webdesign" id="profile-tab2" role="tab" aria-selected="false">skills</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-8 text-white" href="/webhosting" id="contact-tab2" role="tab" aria-selected="false">technical skills</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-8 text-white" href="/e-marketing" id="contact-tab2" role="tab" aria-selected="false">Technoverse</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-8 text-white" href="/contact" id="contact-tab2" role="tab" aria-selected="false">contact</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-8 text-white" href="/certification" id="contact-tab2" role="tab" aria-selected="false">Recent Works</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link rounded-8 text-white" href="/support-the-dev" id="contact-tab2" role="tab" aria-selected="false">Buy Me Coffee</a>
        </li>
    </ul>
</nav>

<style>
/* Adjusting the size of tabs for smaller screens */
@media (max-width: 576px) {
    .nav-pills .nav-link {
        padding: 0.25rem 0.5rem; /* Adjust the padding */
        font-size: 0.75rem; /* Adjust the font size */
    }
}
</style>
